In [ ]:
# Creating data
# There are two core objects in pandas: the DataFrame and the Series.

# DataFrame
# A DataFrame is a table. It contains an array of individual entries, each of which has a 
# certain value. Each entry corresponds to a row (or record) and a column.

In [2]:
import pandas as pd

In [3]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [ ]:
# The list of row labels used in a DataFrame is known as an Index. We can assign values
# to it by using an index parameter in our constructor:

In [5]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [6]:
# Series
# A Series, by contrast, is a sequence of data values. If a DataFrame is a table, a Series
# is a list. And in fact you can create one with nothing more than a list:

In [7]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
# A Series is, in essence, a single column of a DataFrame. So you can assign row labels to the Series
# the same way as before, using an index parameter. However, a Series does not have a column name, it
# only has one overall name:

In [8]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [27]:
# In the cell below, create a DataFrame fruits that looks like this:

fruits = pd.DataFrame({'Apples': [30], 'Bananas': [21]})
fruits

   Apples  Bananas
0      30       21

In [29]:
fruit_sale = pd.DataFrame({'Apples': [35, 41], 'Bananas': [21, 34]}, index = ['2017 Sales', '2018 Sales'])
fruit_sale

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [33]:
# Create a variable ingredients with a Series that looks like:

# Flour     4 cups
# Milk       1 cup
# Eggs     2 large
# Spam       1 can
# Name: Dinner, dtype: object

ingredients = pd.Series(['4 cups', '1 cup', '2 large', '1 can'], index = ['Flour', 'Milk', 'Eggs', 'Spam'], name = 'Dinner')
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [35]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [36]:
animals.to_csv("cows_and_goats.csv")